html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clear, .clouds, .rain, .snow, .mist {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.clear {
  background-image: url('./assets/images/clear.webp');
}

.clouds {
  background-image: url('./assets/images/clouds.webp');
}

.rain {
  background-image: url('./assets/images/rain.webp');
}

.snow {
  background-image: url('./assets/images/snow.webp');
}

.mist {
  background-image: url('./assets/images/mist.webp');
}
